.introduction_container {
    margin-top: 20px;
    background-color: #eef;
    width: 100%;
}

.introduction_container > div , .faq_list {
    padding: 30px;
    margin: 30px auto;
    width: 80%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.46);
}

.faq_list {
    display: flex;
    font-size: 14px;
    overflow-x: auto; /* 수평 스크롤 활성화 */
    scroll-behavior: smooth; /* 스크롤 부드럽게 */
}

.faq_item {
    background-color: white;
    border-radius: 10%;
    margin: 0 20px;
    padding: 20px;
    min-width: 300px;
    position: relative;
}

.faq_list::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.faq_list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


.faq_list::-webkit-scrollbar-thumb:hover {
    background: #555;
}