/* 콘텐츠 섹션 */
.content_section {
    font-size: 14px;
    width: calc(100% - 200px);
    padding-left: 20px;
}

/* 주문 정보 */
.default_address {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #eaeaff;
    margin-bottom: 20px;
}

.default_address .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.default_address .title>h3 {
    margin: 0 0 10px 0;
}

.item_row {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 5px 0;
    font-size: 13px;
}

.item_row>span:first-child {
    width: 80px;
}

.default_address .title p {
    font-size: 1.2em;
    font-weight: bold;
}

/* 데이터 테이블 */
.data_table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

.data_table th,
.data_table td {
    border: 1px solid #eaeaff;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    position: relative;
}

.data_table tbody {
    background-color: #fff;
}

.data_table caption {
    display: none;
}

.data_table th {
    background-color: #eaeaff;
}

.sub_title {
    position: absolute;
    font-size: 10px;
    color: #fff;
    border-radius: 3px;
    top: 0;
    left: 0;
    line-height: 20px;
    width: calc(100% - 30px);
    margin: 10px 15px;
    background-color: #007bff;
}

/* 버튼 스타일 */
.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #6c757d;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
}


.set-default-btn {
    background-color: #007bff;
}

.btn_add {
    background-color: #28a745;
}

.btn_primary {
    background-color: #17a2b8;
}

/* 액션 버튼 및 버튼 그룹 */
.action_buttons,
.button_group {
    text-align: right;
    margin-top: 20px;
}

.action_buttons .btn,
.button_group .btn {
    margin-left: 10px;
}

/* 페이지네이션 */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination strong {
    font-weight: bold;
}