<header>
    <div class="top-header">
        <div class="header-left">
            <h1>TeamCostco Mall</h1>
            <nav class="breadcrumb">
            </nav>
            <div class="search_box">
                <input type="text" id="query" name="query" placeholder="상품검색" th:value="${param.query ?: ''}">
                <span id="search_btn" class="material-symbols-outlined">
                    search
                </span>
            </div>
        </div>
        <div class="header-right">
            <div class="icon-box">
                <span class="material-symbols-outlined">
                    favorite
                </span>
                <span id="person" class="material-symbols-outlined">
                    person
                </span>
                <span id="cart" class="material-symbols-outlined">
                    shopping_cart
                </span>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div th:replace="~{/component/category_header_bar}">
        </div>
</header>