<header>
    <div class="top-header">
        <div class="header-left">
            <h1>TeamCostco Mall</h1>
            <nav class="breadcrumb">
            </nav>
            <div class="search_box">
                <input type="text" id="query" name="query" placeholder="상품검색" th:value="${param.query ?: ''}">
                <span id="search_btn" class="material-symbols-outlined">
                    search
                </span>
            </div>
        </div>
        <div class="header-right">
            <div class="icon-box" th:data-is-logged-in="${session.isLoggedIn ?: 'false'}">
                <span id="favorite" class="material-symbols-outlined-fill">
                    favorite
                </span>
                <span id="person" class="material-symbols-outlined-fill">
                    person
                </span>
                <span id="cart" class="material-symbols-outlined-fill">
                    shopping_cart
                </span>
            </div>

        </div>
    </div>
</header>