<div class="main_wrap">

    <h3 class="content_title" th:text="${pageTitle}"></h3>

    <div th:replace="~{common/sidebar}"></div>

    <div class="content_section">
        <div class="faq_search_box">
            <input type="text" placeholder="무엇을 도와드릴까요?">
        </div>
        <div class="faq_nav">
            <div class="faq_nav">
                <div class="faq_category" th:each="category : ${categories}">
                    <a th:text="${category.name}" 
                       th:class="${category.id == selectedCategoryId} ? 'active' : ''"
                       th:href="@{/customer/FAQs(categoryId=${category.id})}">
                    </a>
                </div>
            </div>
            <div class="faq_list" th:each="faq : ${faqList}">
                <li th:text="${faq.question}"></li>
            </div>
        </div>
    </div>
</div>
