<div class="main_wrap">
    <h3 class="content_title" th:text="${pageTitle}"></h3>
    <div th:replace="~{common/sidebar}"></div>
    <div class="wishlist">
        <div class="wishlist-actions">
            <label class="select-all-label">
                <input type="checkbox" id="select-all-checkbox">
                전체 선택
            </label>
            <div id="selected-items-btn">
                <button id="delete_selected">선택 항목 삭제</button>
            <button id="add_to_cart_selected">선택 항목 장바구니 추가</button>
            </div>
            
        </div>
        <div class="wishlist-items">
            <!-- 위시리스트 아이템 반복 -->
            <div class="wishlist-item" th:each="item : ${wishlist}">
                <div class="item-checkbox-wrapper">
                    <input type="checkbox" class="item-checkbox" th:value="${item.product_code}">
                </div>
                <input type="hidden" th:value="${item.product_code}" class="product_code">
                <div class="item-content">
                    <img th:src="${'/api/product_thumbnail/' + item.product_code}" th:alt="${item.product_code}" />
                    <div class="item-details">
                        <h3 th:text="${item.product_name}" class="product-link">상품명</h3>
                        <p th:text="${#numbers.formatInteger(item.discountedPrice, 0, 'COMMA')} + ' 원'">가격</p>
                    </div>
                </div>
                <div class="btn-group">
                    <button class="action-btn delete_btn" th:id="${'delete_' + item.product_code}">삭제</button>
                    <button class="action-btn cart_btn">장바구니에 추가</button>
                </div>
            </div>
        </div>
    </div>
</div>