<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FAQs">

    <!-- FAQ 전체 조회 -->
    <sql id="getAllFAQList">
        SELECT id, question, answer 
        FROM faq
    </sql>

    <!-- Category 전체 조회 -->
    <sql id="getAllCategories">
        SELECT id, name 
        FROM faq_category
    </sql>

    <select id="getAllFAQList" resultType="faqs">
        <include refid="getAllFAQList"/>
    </select>

    <select id="getAllCategories" resultType="category">
        <include refid="getAllCategories"/>
    </select>


</mapper>