<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ShippingAddresses">

    <sql id="getByCustomerId">
        SELECT
            address_id, customer_id, recipient_name, road_name_address, lot_number_address, detail_address, postal_code,
            phone_number, created_at, updated_at
        FROM
            shipping_addresses
        <where>
            customer_id = #{customer_id}
        </where>
    </sql>

    <sql id="getDefaultAddressByCustomerId">
        SELECT
            a.address_id, a.customer_id, a.recipient_name, a.road_name_address, a.lot_number_address, a.detail_address, a.postal_code,
            a.phone_number, a.created_at, a.updated_at
        FROM
            shipping_addresses a
        INNER JOIN
            customer c ON c.default_address_id = a.address_id
        <where>
            a.customer_id = #{customer_id}
        </where>
    </sql>

    <select id="getByCustomerId" parameterType="Long" resultType="shippingaddress">
        <include refid="getByCustomerId"/>
    </select>

    <select id="getDefaultAddressByCustomerId" parameterType="Long" resultType="shippingaddress">
        <include refid="getDefaultAddressByCustomerId"/>
    </select>

</mapper>