<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ShippingAddresses">

    <sql id="getBySocialId">
        SELECT
            address_id, social_id, recipient_name, road_name_address, lot_number_address, detail_address, postal_code,
            phone_number, created_at, updated_at
        FROM
            shipping_addresses
        <where>
            social_id = #{social_id}
        </where>
    </sql>

    <sql id="getDefaultAddressBySocialId">
        SELECT
            a.address_id,
            a.social_id,
            a.recipient_name,
            a.road_name_address,
            a.lot_number_address,
            a.detail_address,
            a.postal_code,
            a.phone_number,
            a.created_at,
            a.updated_at
        FROM
            shipping_addresses a
        INNER JOIN
            customer c ON c.default_address_id = a.address_id
        <where>
            c.social_id = #{social_id}
        </where>
    </sql>
    

    <select id="getBySocialId" parameterType="Long" resultType="shippingaddress">
        <include refid="getBySocialId"/>
    </select>

    <select id="getDefaultAddressBySocialId" parameterType="Long" resultType="shippingaddress">
        <include refid="getDefaultAddressBySocialId"/>
    </select>

</mapper>