header {
    display: flex;
    flex-direction: column;
    background-color: #99f;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccf;
    padding:10px 0;
    color:white;
}

.bottom-header {
    display:flex;
    flex-direction: row;
    height: 40px;
}

.header-left h1 {
    padding: 0 10px;
    margin: 0;
    font-size: 24px;
}

.header-left{
    flex:1;
}

.header-right {
    width:100px;
    display: flex;
    align-items: center;
}