header {
    display: flex;
    flex-direction: column;
    background-color: #5A464C;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #745a62;
    padding: 10px 0;
    height: 70px;
    color: white;
}

.bottom-header {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.header-left h1 {
    margin: 0;
    font-size: 24px;
}

.header-right {
    width: 130px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
    padding: 0 15px;
}

.icon-box > *{
    cursor: pointer;
}


.search_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid gray;
    background-color: #fff;
    font-size: 18px;
    height: 40px;
    width: 400px;
    color: #000;
    border-radius: 5px;
}

#search_btn {
    display: block;
    user-select: none;
    cursor: pointer;
    line-height: 40px;
    padding: 0 10px;
    font-size: 18px;
}

.search_box>#query {
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    padding: 3px 10px;
    font-size: 16px;
}
