header {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.top-header {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaff;
    padding: 10px 0;
    height: 70px;
}

.bottom-header {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.header-left h1 {
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}

.header-right {
    width: 130px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
    padding: 0 15px;
}

.icon-box>* {
    cursor: pointer;
}


.search_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eaeaff;
    padding: 8px 2px;
    background-color: #eaeaff;
    height: 30px;
    width: 300px;
    color: #000;
    border-radius: 5px;
}

#search_btn {
    display: block;
    user-select: none;
    cursor: pointer;
    line-height: 40px;
    padding: 0 10px;
    font-size: 18px;
}

.search_box>#query {
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    padding: 3px 5px;
    font-size: 14px;

    background-color: #eaeaff;
}

.nav-components {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-left: 50px; 
}

.nav-link {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.nav-link:hover {
    color: #007BFF;
}

.nav-link:last-child {
    margin-right: 0;
}