:root {
    --background-sub-color: rgb(250, 250, 255);
}

span,
p,
a,
ul,
li,
button,
input {
    font-weight: 400;
}

@font-face {
    font-family: 'material-symbols-outlined';
    src: url('/fonts/Material_Symbols_Outlined.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'material-symbols-outlined-fill';
    src: url('/fonts/Material_Symbols_Outlined_Fill.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Noto Sans Korean", sans-serif;
}

.material-symbols-outlined {
    font-family: 'material-symbols-outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.material-symbols-outlined-fill {
    font-family: 'material-symbols-outlined-fill';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 900px;
}

body {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

body.loaded {
    opacity: 1;
}

html {
    overflow-y: scroll;
}

tbody {
    height: 100%;
}

.main_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 40px;
}

.content_title {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eef;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    background-color: rgb(250, 250, 255);
}

.page-title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}


.flex-row-box {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    height: 30px;
}

.flex-row-box.space-between {
    justify-content: space-between;
}

.go_top {
    background-color: #fff;
    border: 1px solid #eaeaff;
    box-shadow: 0 0 5px rgba(0, 0, 50, 0.1);
    padding: 5px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}