<div class="main_wrap">

    <div class="slide_area">
        <div class="slideshow">
            <div class="slide-item">
                <img src="/images/intro/intro_image_1.png" alt="슬라이드 2">
            </div>
            <div class="slide-item">
                <img src="/images/intro/intro_image_2.png" alt="슬라이드 3">
            </div>

            <a class="prev-button" onclick="changeSlide(-1)">&#10094;</a>
            <a class="next-button" onclick="changeSlide(1)">&#10095;</a>
        </div>
        <div class="pagination-dots">
            <span class="pagination-dot" onclick="currentSlide(1)"></span>
            <span class="pagination-dot" onclick="currentSlide(2)"></span>
        </div>
    </div>

    <section class="intro_product">
        <div class="featured-section">
            <span>인기상품</span>

        </div>
        <div class="sale-section">
            <span>세일상품</span>
        </div>
    </section>

</div>