.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  border: none;
  background-color: #FFFACC;
  padding: 0 15px;
  cursor: pointer;
  user-select: none;
}

.menu:hover>.category_container {
  display: block;
}

.category_button {
  width: 100%;
  border: none;
  background-color: transparent;
}

.menu:hover .large_category_container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu:hover .category_container::before {
  width: 150px;
}

.category_container {
  display: none;
  position: absolute;
  background-color: transparent;
  top: 100%;
  left: 0;
  width: 150px;
  height: calc(100vh - 200px);
}

.category_container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh - 200px);
  pointer-events: none;
}

.large_category_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: calc(100vh - 200px);
  background-color: #FFFACC;
  padding: 10px;
}

.medium_category_container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 150px;
  padding: 10px;
}

.small_category_container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 150px;
  padding: 10px;
}

.detail_category_container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 150px;
  padding: 10px;
}

.large_category_wrapper {
  overflow-y: auto;
  overscroll-behavior: contain;
  height: calc(100vh - 220px);
}

.medium_category_wrapper {
  overflow-y: auto;
  overscroll-behavior: contain;
  height: calc(100vh - 220px);
}

.small_category_wrapper {
  overflow-y: auto;
  overscroll-behavior: contain;
  height: calc(100vh - 220px);
}

.detail_category_wrapper {
  overflow-y: auto;
  overscroll-behavior: contain;
  height: calc(100vh - 220px);
}

.large_category:hover .medium_category_container {
  display: block;
  border-bottom-right-radius: 10px;

}

.medium_category:hover>.small_category_container {
  display: block;
}

.small_category:hover>.detail_category_container {
  display: block;
}

.large_category_conatiner,
.medium_category_container,
.small_category_container,
.detail_category_container {
  display: none;
}

/* 스크롤바 스타일링 */
.large_category_wrapper::-webkit-scrollbar,
.medium_category_wrapper::-webkit-scrollbar,
.small_category_wrapper::-webkit-scrollbar,
.detail_category_wrapper::-webkit-scrollbar {
  width: 5px;
}

.large_category_wrapper::-webkit-scrollbar-thumb,
.medium_category_wrapper::-webkit-scrollbar-thumb,
.small_category_wrapper::-webkit-scrollbar-thumb,
.detail_category_wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

.large_category_wrapper::-webkit-scrollbar-thumb:hover,
.medium_category_wrapper::-webkit-scrollbar-thumb:hover,
.small_category_wrapper::-webkit-scrollbar-thumb:hover,
.detail_category_wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}